{% apply inline_css %}
    <style>
        {# here, define your CSS styles as usual #}
        h1 {
            color: #333;
        }
    </style>

    <h1>Welcome !</h1>
    <p> </p>
    <p><code>{{ email.to[0].address }}</code></p>

    <p>
        <p>You havent be on quiz since few time come back for see all our new quiz !</p>
    </p>
{% endapply %}